html,body{
  height:100%;
  padding:0;
  margin:0;
  background:#000;
}
#canvasHolder{
  position: absolute; top: 0; left: 0;
  -webkit-filter: blur(0.6px);
}
#canvasHolderBlur{
   -webkit-filter: blur(2px);
}
